

.container{
    margin-left: 150px;
   height: 300px;

}

.flash_card{
    display: inline;
}
h2{
    color: white;
    font-size: medium;
}
.recent_container{
    display: flex;
    gap: 30px;
    margin-top: -30px;
}
.icons{
    color: white;
   font-size: 100px;
    margin-left: 70px;
    margin-top: 60px;
    height: 70px;
    width: 70px;
}
